.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.317);
  padding: 1em;

  ul {
    list-style: none;
  }
}

.some {
  display: flex;
  gap: 20px;
}
